<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first Blog</title>
</head>
<body>
<h1>Добро пожаловать на мою страницу!</h1>
<h2>Здесь я буду с вами делиться всеми ништячками</h2>
<div>
<h3>Добавляйтесь в социальных сетях)) @asu.oficiall</h3>
<em> GOOD LUCK FOR EVERYONE</em>
</div>
<ul>
    <li><a href="https://www.instagram.com/dyyuraa/"> мой инстаграмм</a></li>
    <li><a href="https://github.com/dyyura">мой гитхаб</a></li>
</ul>
<p>Hi there!</p>
<p>It works!</p>
</body>
</html>